.app {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 115px 1fr;
  grid-template-areas: "nav header" "nav main";
  max-width: 1280px;
  min-height: 880px;
  margin: 50px auto 0;
  background: #eff3f9;
  border-radius: 1rem;
  font-family: "Gilroy";
}
@font-face {
  .app {
    font-family: "Gilroy";
    src: url("/Gilroy-Regular.da7d9ec0.woff") format("truetype-variations");
  }
}
@media screen and (max-width: 768px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 150px 1fr;
    grid-template-areas: "header" "main";
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

@font-face {
  font-family: "Gilroy";
  src: url("/Gilroy-Regular.da7d9ec0.woff") format("truetype-variations");
}
body.dark .app {
  background: black;
}

body.dark .nav {
  background: black;
}

body.dark .header {
  background: black;
}

body.dark .main {
  background: black;
}

body.dark .header__title {
  color: white;
}

body.dark .main__card {
  color: #CACACA;
  background-color: #282c31;
  border: 1px solid #4D4D4D;
}

body.dark .main__card-grafic {
  color: white;
  background-color: black;
}

body.dark button {
  color: white;
}

body.dark button:hover {
  box-shadow: 0 0 10px black;
}

body.dark button:active {
  box-shadow: inset 0 0 5px black;
}

body.dark .nav {
  background: #282c31;
  border: 1px solid #4d4d4d;
}

body.dark .header {
  background-color: #212427;
}

body.dark .main {
  background-color: #212427;
}

body.dark .header__search {
  background-color: #212427;
  border: 1px solid #4D4D4D;
}

body.dark .header__user-name {
  color: #CACACA;
}

body.dark .header__title {
  color: #CACACA;
}

body.dark .card-grafic {
  background: #282c31;
  border: 1px solid #4D4D4D;
}
body.dark .card-grafic__title {
  color: #CACACA;
}
body.dark .card-grafic__date {
  color: #CACACA;
}
body.dark .card-grafic__checkbox {
  color: #CACACA;
}

body.dark .card-chart {
  background: #282c31;
  border: 1px solid #4D4D4D;
}
body.dark .card-chart__title {
  color: #CACACA;
}
body.dark .card-chart__element-text {
  color: #CACACA;
}

body.dark .card-gistogramm {
  background: #282c31;
  border: 1px solid #4D4D4D;
}
body.dark .card-gistogramm__title {
  color: #CACACA;
}
body.dark .card-gistogramm__element-text {
  color: #CACACA;
}

body.dark .card-statistics {
  background: #282c31;
  border: 1px solid #4D4D4D;
}
body.dark .card-statistics__title {
  color: #CACACA;
}
body.dark .card-statistics__progress--active {
  color: #CACACA;
}
body.dark .card-statistics__setting {
  color: #979797;
}
body.dark .card-statistics__country {
  color: #CACACA;
}
body.dark .card-statistics__percent-text {
  color: #CACACA;
}

.nav {
  grid-area: nav;
  display: grid;
  grid-template-rows: 190px 440px;
  border: 1px solid #EBEBEB;
  background: #FDFDFF;
  border-radius: 14px 0 0 14px;
}
.nav__logo {
  width: 3rem;
  height: 6rem;
  margin: 15px 25px;
}
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}
.nav__toggle {
  padding: 13px 25px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: 0.6s ease-in;
  background-color: #FDFDFF;
  border: 1px solid #4F4F4F;
}
.nav__toggle[type=checkbox] {
  width: 60px;
  height: 30px;
  position: relative;
  appearance: none;
  background: #FDFDFF;
  outline: none;
  border-radius: 20px;
  transition: 0.5s;
}
.nav__toggle:checked[type=checkbox] {
  background: #7F7FD5;
}
.nav__toggle[type=checkbox]::before {
  content: "";
  width: 22px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 5px;
  border-radius: 50%;
  transition: 0.5s;
  background: url("/toggle.e520d45d.svg") no-repeat #7f7fd5 50%;
}
.nav__toggle:checked[type=checkbox]::before {
  left: 35px;
}

.nav__toggle:hover {
  box-shadow: 0 0 10px black;
}

.nav__toggle:active {
  box-shadow: inset 0 0 5px black;
}

.header {
  background: #eff3f9;
  grid-area: 1/2/1/2;
  display: grid;
  grid-template: auto/auto auto 1fr auto;
  justify-items: center;
  align-items: center;
  padding: 1rem 4.5rem;
  border-radius: 0 15px 0 0;
}
.header__title {
  grid-area: 1/1/1/1;
  margin-right: 4.5rem;
  line-height: 1.2em;
}
.header__search-form {
  grid-area: 1/2/1/2;
  display: flex;
  align-items: center;
}
.header__search {
  width: 150px;
  height: 32px;
  margin-right: 24px;
  padding-left: 38px;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1.1em;
  color: #4f4f4f;
  background: url("/search.73d8ac8a.svg") no-repeat #FDFDFF;
  background-position: bottom 10px left 15px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
}
.header__profile {
  display: flex;
  align-items: center;
  margin-left: 500px;
}
.header__user-name {
  margin-right: 11px;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.2em;
  color: #4f4f4f;
  font-weight: 600;
}
.header__avatar {
  margin-right: 9px;
}

.header__search:hover {
  z-index: 15;
  transition: 0.3s ease-out;
  background: #7F7FD5;
}

.main {
  grid-area: main;
  display: grid;
  padding: 1.5rem;
  grid-template-columns: repeat(3, 341px);
  grid-template-rows: 148px 242px 242px;
  grid-template-areas: "card card card" "card-grafic card-grafic card-chart" "card-gistogramm card-gistogramm card-statistics";
  grid-gap: 37px 31px;
  background: #eff3f9;
  border-radius: 0 0 14px 0;
}
.main__card {
  padding: 25px;
  display: grid;
  grid-template-columns: 140px 75px;
  grid-template-rows: repeat(2, 35px);
  align-content: space-between;
  justify-content: space-between;
  border: 1px solid #EBEBEB;
  border-radius: 14px;
  background: #FDFDFF;
}

.card__info {
  margin-top: 0.625rem;
}

.card__statistics {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.card__options {
  display: flex;
  flex-direction: row-reverse;
}

.card-grafic {
  padding: 25px;
  grid-column: 1/3;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-area: card-grafic;
  align-items: center;
  row-gap: 25px;
  border: 1px solid #EBEBEB;
  border-radius: 14px;
  background: #FDFDFF;
}
.card-grafic__date {
  text-align: end;
}
.card-grafic__left {
  margin: 5px;
  justify-self: end;
}
.card-grafic__right {
  margin: 5px;
  justify-self: end;
}
.card-grafic__img {
  max-width: 668px;
  min-height: 130px;
  grid-column: 1/5;
}
.card-grafic__left {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.card-grafic__left + label {
  display: inline-flex;
  justify-self: end;
  align-items: center;
  user-select: none;
}
.card-grafic__left + label::before {
  content: "";
  width: 1em;
  height: 1em;
  margin: 10px;
  display: inline-block;
  border: 2px solid #7F7FD5;
  border-radius: 0.35em;
}
.card-grafic__left:checked + label {
  background-color: inherit;
  background-image: url("/arrow-purple.c66512c6.svg");
  background-repeat: no-repeat;
  background-position-x: 16px;
  background-position-y: 15px;
}
.card-grafic__right:checked + label {
  background-color: inherit;
  background-image: url("/arrow-purple.c66512c6.svg");
  background-repeat: no-repeat;
  background-position-x: 16px;
  background-position-y: 15px;
}
.card-grafic__right {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.card-grafic__right + label {
  display: inline-flex;
  justify-self: start;
  align-items: center;
  user-select: none;
}
.card-grafic__right + label::before {
  content: "";
  width: 1em;
  height: 1em;
  margin: 10px;
  display: inline-block;
  border: 2px solid #E786D7;
  border-radius: 0.35em;
}

.card-chart {
  padding: 25px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 40px 1fr;
  grid-area: card-chart;
  column-gap: 10px;
  row-gap: 35px;
  align-items: center;
  background: #FDFDFF;
  border: 1px solid #EBEBEB;
  border-radius: 14px;
}
.card-chart__title {
  grid-column: 1/3;
  align-self: baseline;
}
.card-chart__elements-container {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 5px;
  row-gap: 15px;
  align-self: start;
}
.card-chart__element-left {
  width: 16px;
  height: 16px;
  grid-column: 1/2;
  background-color: #E786D7;
  border-radius: 5px;
}
.card-chart__element-right {
  width: 16px;
  height: 16px;
  grid-column: 1/2;
  background-color: #7F7FD5;
  border-radius: 5px;
}
.card-chart__element-text {
  margin-left: 5px;
  grid-column: 2/3;
}
.card-chart__img {
  min-width: 100%;
  justify-self: left;
  align-self: start;
}

.card-gistogramm {
  padding: 25px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: card-gistogramm;
  align-items: center;
  background: #FDFDFF;
  border: 1px solid #EBEBEB;
  border-radius: 14px;
}
.card-gistogramm__title {
  position: sticky;
  top: 0;
  left: 0;
}
.card-gistogramm__elements-container {
  display: flex;
  position: inherit;
  right: 150px;
}
.card-gistogramm__element-left {
  width: 16px;
  height: 16px;
  background-color: #E786D7;
  border-radius: 5px;
}
.card-gistogramm__element-right {
  width: 16px;
  height: 16px;
  margin-left: 15px;
  background-color: #7F7FD5;
  border-radius: 5px;
}
.card-gistogramm__element-text {
  margin-left: 5px;
}
.card-gistogramm__img {
  min-height: 130px;
}

.card-statistics {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: card-statistics;
  row-gap: 10px;
  align-items: center;
  background: #FDFDFF;
  border: 1px solid #EBEBEB;
  border-radius: 14px;
}
.card-statistics__title {
  color: #4f4f4f;
}
.card-statistics__img {
  max-width: 100%;
  grid-column: 1/4;
  justify-self: center;
}
.card-statistics__settings {
  display: flex;
  justify-self: end;
  align-items: center;
}
.card-statistics__setting {
  margin: 5px;
  color: #979797;
}
.card-statistics__items {
  align-items: baseline;
  grid-column: 1/4;
  columns: 2;
}
.card-statistics__item {
  margin-bottom: 20px;
}
.card-statistics__item-title {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.card-statistics__country {
  color: #4f4f4f;
}
.card-statistics__percent-text {
  color: #979797;
}
.card-statistics__field {
  width: 132px;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.card-statistics__percent {
  height: 100%;
  background: #7F7FD5;
  border-radius: 10px;
}
.card-statistics__russia {
  width: 94%;
}
.card-statistics__ukraine {
  width: 5%;
}
.card-statistics__mongolia {
  width: 3%;
}
.card-statistics__china {
  width: 10%;
}
.card-statistics__usa {
  width: 4%;
}
.card-statistics__other {
  width: 11%;
}

/*# sourceMappingURL=/scss.6b84482b.css.map */