.app {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 115px 1fr;
        grid-template-areas: 'nav header' 'nav main';
    
        max-width: 1280px;
        min-height: 880px;
        margin: 50px auto 0;
        background: #eff3f9;
        border-radius: 1rem;     
        @font-face {
            font-family: 'Gilroy';
            src: url('/fonts/gilroy/Gilroy-Regular.woff') format("truetype-variations");
            }

            font-family: 'Gilroy';
        
        
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: 80px 150px 1fr;
            grid-template-areas: 'header' 'main';
        }
    }

   
    
 

  