// colors
$primary-color: #eff3f9;
$secondary-color: #FDFDFF;
$third-color: #EBEBEB;
$logo-color: #4f4f4f;
$purple-color: #7F7FD5;
$dark-color: #282c31;
$dark-theme: #212427;
$main-theme: #4D4D4D;
$border-color: #CACACA;
$pink-color: #E786D7;
$purple-color: #7F7FD5;
$statistic-color: #979797;


// font
@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/gilroy/Gilroy-Regular.woff') format("truetype-variations");
    }


$breakpoint-xxs-min: 320px;
$breakpoint-xs-min: 480px;
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 992px;
$breakpoint-xl-min: 1200px;
$breakpoint-xxl-min: 1440px;